<h2>About me</h2> <p>
    I'm a junior android developer, Paweł Chochura,
    who wanted to change the world and make it easier!
    For that reason I created this simple app to handle
    almost all features of the USOS service, which isn't
    very well designed.

</p> <p><strong>Contact Me</strong></p> <p>
    If you have any questions or suggestions about
    USOS Mobile contact me at pchochura@gmail.com.
</p>